<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>payment</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="payment/css/styles.css">
    <link rel="stylesheet" type="text/css" href="payment/css/demo.css">
</head>
<body>
<div class="container-fluid">

    <div class="creditCardForm">
        <div class="heading">
            <h1>Congratulations!</h1>
        </div>
        <div class="payment">
            Payment Successful
            <br>

        </div>
    </div>



</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/payment/js/jquery.payform.min.js}" charset="utf-8"></script>
<script th:src="@{/payment/js/script.js}"></script>
</body>
</html>